@model FreeRock.ViewModels.AlbumViewModel

@{
    ViewData["Title"] = "CreateAlbum";
}

<h2>Create</h2>

<h4>Album</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Album.Title" class="control-label"></label>
                <input asp-for="Album.Title" class="form-control" />
                <span asp-validation-for="Album.Title" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <img src="@Model.Album.CoverPath"
                         alt="@Model.Album.Title"
                         onerror="this.onerror=null;this.src='/covers/default.jpg';"
                         height="128" width="128">
                </div>
                <div class="col-6 input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="file" accept=".jpg" asp-for="CoverImage">
                        <label class="custom-file-label" asp-for="CoverImage">Upload new picture</label>
                        <span style="color: tomato" asp-validation-for="CoverImage"></span>
                    </div>
                </div>
            </div>

            <!--
            <div class="form-group">
                <label asp-for="Album.CoverPath" class="control-label"></label>
                <input asp-for="Album.CoverPath" class="form-control" />
                <span asp-validation-for="Album.CoverPath" class="text-danger"></span>
            </div>
            -->
            <!--<div class="form-group">
        <label asp-for="Artist.Name" class="control-label"></label>
        <input name="Artist.Name" class="form-control" />
        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
    </div>-->
            <div class="form-group">
                <label asp-for="Album.Artist" class="control-label"></label>
                <select asp-for="Album.ArtistID" class="form-control" asp-items="ViewBag.ArtistID">
                    <option value="">-- Select Artist --</option>
                </select>
                <span asp-validation-for="Album.ArtistID" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Album.ReleaseDate" class="control-label"></label>
                <input asp-for="Album.ReleaseDate" class="form-control" />
                <span asp-validation-for="Album.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album.Description" class="control-label"></label>
                <input asp-for="Album.Description" class="form-control" />
                <span asp-validation-for="Album.Description" class="text-danger"></span>
            </div>
            <table id="songTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => (new Song()).Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => (new Song()).YouTubeUrl)
                        </th>
                        <th />
                    </tr>
                </thead>
                <tbody id="tbody">
                    <tr id="tr-0">
                        <td>
                            <input type="text" name="Songs[0].Name" value="@Model.Album.Songs[0].Name" />
                        </td>
                        <td>
                            <input type="url" name="Songs[0].YouTubeUrl" value="@Model.Album.Songs[0].YouTubeUrl" />
                        </td>
                        <td>
                            <input type="button" value="Add" onclick="insertRow(0)" />
                        </td>
                        <td>
                            <input type="button" value="Delete" onclick="removeRow(0)" />
                        </td>
                    </tr>
                    @for (byte i = 1; i < Model.Album.Songs.Count; ++i)
                    {
                        <tr id="tr-@i">
                            <td>
                                <input type="text" data-val="true" data-val-required="The Name field is required." name="Album.Songs[@i].Name" value="@Model.Album.Songs[i].Name">
                            </td>
                            <td>
                                <input type="url" name="Album.Songs[@i].YouTubeUrl" value="@Model.Album.Songs[i].YouTubeUrl">
                            </td>
                            <td>
                                <input type="button" value="Add" onclick="insertRow(@i)" />
                            </td>
                            <td>
                                <input type="button" value="Delete" onclick="removeRow(@i)" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
            <script type="text/javascript">
                updateIndex = () => {
                    $('#tbody > tr').each(function (i) {
                        $(this).attr('id', `tr-${i}`);
                        $(this).find("input[type='text']").attr('name', `Album.Songs[${i}].Name`);
                        $(this).find("input[type='url']").attr('name', `Album.Songs[${i}].YouTubeUrl`);
                        $(this).find("input[value='Add']").attr('onclick', `insertRow(${i})`);
                        $(this).find("input[value='Delete']").attr('onclick', `removeRow(${i})`);
                    })
                }

                insertRow = (i) => {
                    $(`#tr-${i}`).after(
                        `
                                    <tr>
                                        <td>
                                            <input type="text" data-val="true" data-val-required="The Name field is required.">
                                        </td>
                                        <td>
                                            <input type="url"/>
                                        </td>
                                        <td>
                                            <input type="button" value="Add" />
                                        </td>
                                        <td>
                                            <input type="button" value="Delete" />
                                        </td>
                                    </tr>
                                    `
                    );
                    updateIndex();
                }

                removeRow = (i) => {
                    $(`#tr-${i}`).remove();
                    updateIndex();
                }

            </script>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

