@model FreeRock.Models.Album

@{
    ViewData["Title"] = "Details";
    Artist artist = Model.Artist;
}

<!--<input hidden id="userName" value="User.Identity.Name" />-->

<h2>Details</h2>

<form asp-action="Details">
    <div>
        <h4>Album</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => artist.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => artist.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CoverPath)
            </dt>
            <dd>
                <img src="@Model.CoverPath" height="128" width="128" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    <table class="table">
        <tbody id="table-body-id">
            @foreach (var song in Model.Songs.OrderBy(s => s.Number))
            {
                var eventClick = $"openFrame(\"{song.YouTubeUrl}\")";
                <tr onclick="@eventClick">
                    <td>
                        @Html.DisplayFor(modelItem => song.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <label id="rating"> @Model.Likes.Sum(x => x.Mark)</label>
        }
        else
        {
            <button type="button" class="btn" id="pos-mark" onclick="updateRating(1)"></button>
            <label id="rating"> @Model.Likes.Sum(x => x.Mark)</label>
            <button type="button" class="btn" id="neg-mark" onclick="updateRating(-1)"></button>
        }
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <input hidden value="@Model.ID" type="number" name="id" id="id">
        <input hidden name="userName" id="userName" type="text" value="@User.Identity.Name">
        <input hidden name="typeModel" id="typeModel" type="text" value="@typeof(Album).Name" />
        <p><h5>Leave your comment:</h5></p>
        <p><textarea style="width: 500px; height: 100px;" name="NewCommentary" id="NewCommentary"></textarea></p>

        <div class="form-group">
            <input type="submit" value="Leave a commentary" class="btn btn-default" id="sendButton" />
        </div>
    }
</form>

<div id="iframe-container" style="position:fixed; bottom:0; right:0">

</div>

@Html.Partial("_Comments")

<script type="text/javascript">
    openFrame = url => {
        var re = /https?:\/\/(?:[0-9A-Z-]+\.)?(?:youtu\.be\/|youtube(?:-nocookie)?\.com\S*?[^\w\s-])([\w-]{11})(?=[^\w-]|$)(?![?=&+%\w.-]*(?:['"][^<>]*>|<\/a>))[?=&+%\w.-]*/ig;
        var videoID = url.replace(re, "$1").trim();
        console.log(videoID);
        if (videoID != "") {
            $("#iframe-container").html('');
            $("#iframe-container").append(`<iframe width="420" height="315" src="https://www.youtube.com/embed/${videoID}?autoplay=1"></iframe>`);
        }
        else {
            alert("Sorry. We don't have video for this song ((")
        }
    }

    updateRating = (mark) =>
        $.ajax({
            cache: false,
            url: '@Url.Action("MarkAlbum", "Albums")',
            type: 'POST',
            data: {
                id: $('#id').val(),
                mark: mark,
                userName: $('#userName').val()

            },
            success: result => {
                $('#rating').text(result.rating);
                updateMark(result.mark);
            }
        })

    updateMark = (mark) => {
        var posMark = $('#pos-mark');
        var negMark = $('#neg-mark');
        posMark.css("background-color", "grey");
        posMark.text('0');
        negMark.css("background-color", "grey");
        negMark.text('0');
        if (mark > 0) {
            posMark.text(mark);
            posMark.css("background-color", "green");
        }
        if (mark < 0) {
            negMark.text(mark);
            negMark.css("background-color", "red");
        }
    }

    $().ready(function () {
        updateMark(@ViewBag.CurrentUserMark);
    });
</script>