@model Album

<table>
    <tbody id="tbody">
        <tr id="tr-0">
            <td>
                @if (Model.Songs[0].ID != 0)
                {
                    <input type="hidden" data-val="true" name="Album.Songs[0].ID" value="@Model.Songs[0].ID">
                }
            </td>
            <td>
                <input type="text" name="Album.Songs[0].Name" value="@Model.Songs[0].Name" autocomplete="off"/>
            </td>
            <td>
                <input type="url" name="Album.Songs[0].YouTubeUrl" value="@Model.Songs[0].YouTubeUrl" autocomplete="off"/>
            </td>
            <td>
                <input type="button" value="+" onclick="insertRow(0)" />
            </td>
            <td>
            </td>
        </tr>
        @for (byte i = 1; i < Model.Songs.Count; ++i)
        {
            <tr id="tr-@i">
                <td>
                    <input type="hidden" data-val="true" name="Album.Songs[@i].ID" value="@Model.Songs[i].ID">
                </td>
                <td>
                    <input type="text" data-val="true" data-val-required="The Name field is required." name="Album.Songs[@i].Name" value="@Model.Songs[i].Name">
                </td>
                <td>
                    <input type="url" name="Album.Songs[@i].YouTubeUrl" value="@Model.Songs[i].YouTubeUrl">
                </td>
                <td>
                    <input type="button" value="+" onclick="insertRow(@i)" />
                </td>
                <td>
                    <input type="button" value="-" onclick="removeRow(@i)" />
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    updateIndex = () => {
        $('#tbody > tr').each(function (i) {
            $(this).attr('id', `tr-${i}`);
            $(this).find("input[type='hidden']").attr('name', `Album.Songs[${i}].ID`);
            $(this).find("input[type='text']").attr('name', `Album.Songs[${i}].Name`);
            $(this).find("input[type='url']").attr('name', `Album.Songs[${i}].YouTubeUrl`);
            $(this).find("input[value='+'][type='button']").attr('onclick', `insertRow(${i})`);
            var removeButton = $(this).find("input[value='-'][type='button']");
            if (removeButton != null) {
                removeButton.attr('onclick', `removeRow(${i})`);
            }
        })
    }

    insertRow = (i) => {
        $(`#tr-${i}`).after(
            `
             <tr>
                 <td>
                 </td>
                 <td>
                     <input type="text" data-val="true" data-val-required="The Name field is required." autocomplete="off">
                 </td>
                 <td>
                     <input type="url" autocomplete="off"/>
                 </td>
                 <td>
                     <input type="button" value="+" />
                 </td>
                 <td>
                     <input type="button" value="-" />
                 </td>
             </tr>
             `
        );
        updateIndex();
    }

    removeRow = (i) => {
        $(`#tr-${i}`).remove();
        updateIndex();
    }

</script>

